<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1021179714288-ik8o9nhqevcf35ugl35922ivpjd3tj14.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1021179714288-ik8o9nhqevcf35ugl35922ivpjd3tj14</string>
	<key>API_KEY</key>
	<string>AIzaSyB3ORqZxIXHy2_AmWt-Hzh3qKDFjTIFAxg</string>
	<key>GCM_SENDER_ID</key>
	<string>1021179714288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.desafioSupremo</string>
	<key>PROJECT_ID</key>
	<string>nobank</string>
	<key>STORAGE_BUCKET</key>
	<string>nobank.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021179714288:ios:2a395df360e2a7cb2c0035</string>
</dict>
</plist>